$primaryColor: #1a1a1a;
$secondaryColor: #0071e3;
$accentColor: #3990c3;
$greyColor: #ccc;
$gutter: 10px;
$defaultFont: "Spline Sans", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;
